/* Stylesheet for Kacie's Floral Shop*/


/* Global */
body{
    background-image: url('/images/floralprint.jpg');
}

div#container{
    margin: auto;
    width: 1024px;
    background-color: #F4F4F2;
    box-shadow: 4px 4px 15px #631B27;
}

header{
    display:block;
    width: 100%;
    height: 150px;
    background-color: #F9ACC0;
    margin: 0;
    padding:0;
}

header h1{
    text-align: center;
    margin: auto;
    padding-top: 25px;
    font-family: 'Give You Glory', cursive;
    font-size: 70px;
    color: #F4F4F2;
    text-shadow: 3px 4px #631B27;
}

nav{
    float: left;
    width: 100%;
    background-color: #587E45;
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
    box-shadow: 2px 3px 8px #631B27;
    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white; 
}

nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color: #631B27;
}

nav .active{
    background-color: #631B27;
}

#content{
    width: 100%;
    clear:both;
    
}

.keepOpen{
    clear:both;
}

footer{
    width:100%;
    background-color: #587E45;
    color: #fff;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    box-shadow: 2px 2px 8px #631B27;
}


/* index.html style */
#imgMain{
    display: block;
    width: 500px;
    margin: 20px 10px;
    border: solid 3px #631B27;
    float:left;
    
}

#h2main{
    float: left;
    width: 450px;
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: auto;
    font-family: 'Old Standard TT', serif;
}

#pmain{
    width: 450px;
    float: left;
    margin-top: 5px;
    margin-left: 3px;
    font-family: 'Old Standard TT', serif;
}


/*about.html style*/
#imgabout{
    display: block;
    width: 500px;
    margin: 20px 10px;
    border: solid 3px #631B27;
    float:right;
    
}

#h2about{
    float: left;
    width: 480px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: auto;
    font-family: 'Old Standard TT', serif;
}

#pabout{
    width: 480px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Old Standard TT', serif;
}


/*arrangements.html style*/
#h2arr{
    font-family: 'Old Standard TT', serif;
    padding-top: 10px;
    margin: auto 20px;
    
}

#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

figure{
    width: 300px;
    box-shadow: 1px 1px 10px black; 
    float: left;
    margin: 10px 20px;
}

figure img{
    display: block;
    width: 250px;
    padding: 10px;
    margin: auto;
}

figcaption{
    font-family: 'Old Standard TT', serif;
    text-align: center;
    margin-bottom: 10px;
}

/*contact.html*/
#h2contact{
    font-family: 'Old Standard TT', serif;
    padding-top: 10px;
    margin: auto 10px;
    float: left;
}

#contactform{
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    clear: left;
    margin-bottom: 50px;
}

form input{
    font-family: 'Old Standard TT', serif;
    margin-bottom: 5px;
    width: 150px;
}

button#send{
    font-family: 'Old Standard TT', serif;
    width: 75px;
    font-size: 15px;
}

#maph2{
    font-family: 'Old Standard TT', serif;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#map{
    float: right;
    margin-right: 10px;
}