/* Stylesheet for Kacie's Floral Shop*/


/* Global */
body{
    background-image: url('/images/floralprint.jpg');
    
    
}

div#container{
    margin: auto;
    width: 1024px;
    background-color: #F4F4F2;
    border: 5px solid #631B27;
}

header{
    display:block;
    width: auto;
    height: 150px;
    border:2px solid #631B27;
    background-color: #F9ACC0;
    margin: 0;
    padding:0;
}

header h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Give You Glory', cursive;
    font-size: 70px;
    color: #F4F4F2;
    text-shadow: 3px 4px #631B27;
}

nav{
    float: left;
    width: 1020px;
    background-color: #587E45;
    margin: 0;
    padding: 0;
    border: 2px solid #631B27;
    font-family: 'Old Standard TT', serif;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white; 
}

nav ul li{
    float:left;
}

nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
}

nav ul li a:hover{
    background-color: #631B27;
}

nav .active{
    background-color: #631B27;
}

#content{
    width: 1020px;
    clear:both;
    border: 2px solid #631B27;
}

.keepOpen{
    clear:both;
}

footer{
    width:1020px;;
    background-color: #587E45;
    color: #fff;
    text-align: center;
    border: 2px solid #631B27;
    font-family: 'Old Standard TT', serif;
}


/* index.html style */

#h2main{
    float: left;
    width: 450px;
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: auto;
    font-family: 'Old Standard TT', serif;
}

#imgMain{
    display: block;
    width: 500px;
    margin: 20px 10px;
    border: solid 3px #631B27;
    float:left;
    
}

#pmain{
    width: 450px;
    float: left;
    margin-top: 5px;
    margin-left: 3px;
    font-family: 'Old Standard TT', serif;
}


/*about.html*/

#imgabout{
    display: block;
    width: 500px;
    margin: 20px 10px;
    border: solid 3px #631b27;
    float: left;
}

#h2about{
    float: left;
    font-family: 'Old Standard TT', serif;
    width: 450px;
}