*{
    margin: 0;
    padding: 0;
}

body{
    
    height: auto;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: #f4f3f4;
    width: 90%;
    max-width: 1240px;
    margin-top: 8px;
    color: #373737;
    border-bottom: 4px dotted #c0b283;
    border-radius: 25px;
    
}

#title{
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    color: #373737;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0px;
    font-size: 50px;
    border-radius: 25px;
}

nav{
    background: #F5ebe3;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #dcd0c0;
    border-bottom: 4px dotted #c0b283;
    
}

nav ul li{
    flex:1;
    text-align: center;
    padding: 4px;
    border-top: 4px dotted #c0b283;
    
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    
}

nav ul li:hover{
    background-color: #c0b283;
    border-radius: 10px;
}

#content{
    padding: 8px;
    margin: 8px;
    
}

#content h1{
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

footer{
    text-align: center;
    background-color: #dcd0c0;
    border-top: 4px dotted #c0b283;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Home CSS*/

#imghome{
    justify-content: center;
    float: right;
    margin: 4px;
    width: 35%;
    border-radius: 15px;
}

/*Gallery CSS*/
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
}

.galleryimg{
    margin-bottom: 32px;
    text-align: center;
}

.galleryimg img{
    max-width: 275px;
    border-radius: 15px;
}
/*Awards CSS*/
#awards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.award{
    display: flex;
    width: 48%;
    box-shadow: 2px 2px 10px lightgray;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 15px;
    
}

.awardimg{
    margin: 8px;
    max-width: 220px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    
}

.description{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.description h4{
    padding: 4px 0px;
}
/*Skills CSS*/
.skill{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    margin-bottom: 32px;
}
.bar{
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.skills{
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: #373737;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.html{ width: 70%; background-color: #E0D9C1;}
.css{ width: 65%; background-color: #D9D1B5;}
.javascript{ width: 20%; background-color: #D3C9A8;}
.csharp{ width: 40%; background-color: #CDC19C;}
.inventor{ width: 50%; background-color: #C6BA8F;}
.floral{ width: 99%; background-color: #C0B283;border-radius: 15px;}
.mechanics{ width: 25%; background-color: #C0B283;}
.greenhouse{ width: 99%; background-color: #ADA076;border-radius: 15px;}
.photography{ width: 80%; background-color: #9A8E69;}
/*Contact CSS*/
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #dcd0c0;
    color: #373737 ;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 125px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

input[type=submit]:hover{
    background-color: #c0b283;
}

#contact{
    padding: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}


@media only screen and (max-width: 500px){
    #container{
        width: 100%;
        max-width: auto;
        margin-top: 0px;
    }
    
    #title{
        font-size: 35px;
    }
    
    h1{
        font-size: 20px;    
    }
    
    .award{
        flex-direction: column;
        width: 100%;
    }
    figure{
        margin-left: 15%;
    }
    .awardimg{
        width: auto;
        justify-content: space-around;
    }
    #imghome{
        float: none;
        width: 100%;
        float: left;
    }
    nav ul{
        flex-direction: column;
    }
    
    .modalcontent{
        width: 100%;
    }
}