*{
    margin: 0;
    padding: 0;
}

body{
    
    height: auto;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: #f4f3f3;
    width: 90%;
    max-width: 1240px;
    min-width: 900px;
    margin-top: 8px;
    color: #373737;
    
}

#title{
    padding: 20px;
    text-align: center;
    background: #f4f4;
    color: #373737;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0px;
    font-size: 50px;
}

nav{
    background: #F5ebe3;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #dcd0c0;
    border-bottom: 4px dotted #c0b283;
    
}

nav ul li{
    flex:1;
    text-align: center;
    padding: 4px;
    border-top: 4px dotted #c0b283;
    
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    
}

#content{
    padding: 8px;
    margin: 8px;
    
}

#content h1{
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

footer{
    text-align: center;
    background-color: #dcd0c0;
    border-top: 4px dotted #c0b283;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

/*Home CSS*/

#imghome{
    justify-content: center;
    float: right;
    margin: 4px;
    width: 35%;
}

/*Gallery CSS*/
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

#galleryimg{
    margin-bottom: 32px;
}

/*Awards CSS*/
#award{
    display: flex;
    box-shadow: 2px 2px 20px black;
    margin-bottom: 24px;
    
}

#awardimg{
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    
}

#description{
    display: flex;
    flex-direction: column;
    margin: 8px
}
/*Skills CSS*/

/*Contact CSS*/
@media only screen and (max-width: 320px){
    #container{
        width: 319px;
        max-width: auto;
        min-width: inherit;
        margin-top: 0px;
    }
    
    #title{
        font-size: 35px;
    }
    
    h1{
        font-size: 20px;    
    }
    
    #award{
        flex-direction: column;
    }
    #imghome{
        float: none;
        max-width: 275px;
        width: auto;
        float: left;
    }
    nav ul{
        flex-direction: column;
    }
}