*{
    margin: 0;
    padding: 0;
}

body{
    
    height: auto;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: #f4f3f4;
    width: 90%;
    max-width: 1240px;
    min-width: 900px;
    margin-top: 8px;
    color: #373737;
    border-bottom: 4px dotted #c0b283;
    border-radius: 25px;
    
}

#title{
    padding: 20px;
    text-align: center;
    background: #f4f4;
    color: #373737;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 0px;
    font-size: 50px;
}

nav{
    background: #F5ebe3;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #dcd0c0;
    border-bottom: 4px dotted #c0b283;
    
}

nav ul li{
    flex:1;
    text-align: center;
    padding: 4px;
    border-top: 4px dotted #c0b283;
    
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    
}

nav ul li:hover{
    background-color: #c0b283;
    border-radius: 10px;
}

#content{
    padding: 8px;
    margin: 8px;
    
}

#content h1{
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

footer{
    text-align: center;
    background-color: #dcd0c0;
    border-top: 4px dotted #c0b283;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*Home CSS*/

#imghome{
    justify-content: center;
    float: right;
    margin: 4px;
    width: 35%;
    border-radius: 15px;
}

/*Gallery CSS*/
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    
}

#galleryimg{
    margin-bottom: 32px;
    border-radius: 15px;
}

/*Awards CSS*/
#award{
    display: flex;
    box-shadow: 2px 2px 10px lightgray;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 15px;
    
}

#awardimg{
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    
}

#description{
    display: flex;
    flex-direction: column;
    margin: 8px
}
/*Skills CSS*/

/*Contact CSS*/
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #dcd0c0;
    color: #373737 ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #c0b283;
}

#contact{
    padding: 8px;
}


@media only screen and (max-width: 500px){
    #container{
        width: 100%;
        max-width: auto;
        min-width: inherit;
        margin-top: 0px;
    }
    
    #title{
        font-size: 35px;
    }
    
    h1{
        font-size: 20px;    
    }
    
    #award{
        flex-direction: column;
    }
    #imghome{
        float: none;
        width: 100%;
        float: left;
    }
    nav ul{
        flex-direction: column;
    }
}