*{
    margin: 0;
    padding: 0;
}

body{
    
    height: auto;
    height: 100%;
    min-height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    max-width: 1240px;
    min-width: 900px;
    
}

#title{
    padding: 20px;
    text-align: center;
}

nav{
    background: 000;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #f1f1f1;
    
}

nav ul li{
    flex:1;
    text-align: center;
    color: gray;
    padding: 8px;
    
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
}

#content{
    padding: 8px;
    margin: 8px;
    
}

#content h1{
    text-align: center;
    padding-bottom: 4px;
}

footer{
    text-align: center
}

/*Home CSS*/

/*Gallery CSS*/

/*Awards CSS*/
#award{
    display: flex;
    box-shadow: 2px 2px 20px black;
    margin-bottom: 24px;
    
}

#awardimg{
    margin: 8px;
    border-style: solid;
    border-width: 2px;
    
}

#description{
    display: flex;
    flex-direction: column;
    margin: 8px
}
/*Skills CSS*/

/*Contact CSS*/